.column {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 5px 15px;
}

.sidebar {
    flex-shrink: 0;
    overflow-y: auto;
    min-width: 250px;
    max-width: 25%;
    .heading {
        font-size: 1.5em;
    }
}

.main {
    background-color: $color-white;
    overflow-y: auto;
    flex-grow: 1;
    
}