.sidebar-menu {
    list-style-type: none;

    .heading {
        font-size: 12px;
    }
    .link {
        display: block;
        list-style-type: none;
        padding: 5px 10px;
        &:not(.title) {
            &:hover {
                background-color: rgba($color-black, 0.1);
                border-radius: 2px;
            }
            
        }
    }
}