*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

body {
    background: $color-gray-1;
    overflow: hidden;
}

code, xmp {
    background-color: $color-gray-4;
    color: $color-white;
    display: block;
    font-family: monospace;
    border-radius: 5px;
    padding: 5px 15px;
}

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: space-between;
}