*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

body {
    background: $color-gray-1;
    overflow: hidden;
    height: 100vh;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}