$color-primary:  #42A78C;
$color-primary-dark: darken($color-primary, 30%);
$color-primary-light: lighten($color-primary, 30%);
$color-secondary: #875EF5;
$color-secondary-dark:darken($color-secondary, 30%);
$color-tertiary: #5EBBF5;
$color-tertiary-dark: darken($color-tertiary, 30%);

$color-gray-1:#EEEEEE;
$color-gray-2: #888888;
$color-gray-3: #555555;
$color-gray-4: #222222;

$color-white: #FFFFFF;
$color-black: #000000;

$font-primary: Roboto;
$font-secondary: Lato;


//GRID
$grid-width: 114rem;
$gutter-vertical: 2rem;
$gutter-horizontal: 1rem;