$color-primary:  #42A78C;
$color-primary-dark: #067E55;
$color-secondary: #875EF5;
$color-secondary-dark: #2B195C;
$color-tertiary: #5EBBF5;
$color-tertiary-dark: #005D96;

$color-gray-1:#EEEEEE;
$color-gray-2: #888888;
$color-gray-3: #555555;
$color-gray-4: #222222;

$color-white: #FFFFFF;
$color-black: #000000;

$font-primary: Roboto;
$font-secondary: Lato;


//GRID
$grid-width: 114rem;
$gutter-vertical: 2rem;
$gutter-horizontal: 1rem;